html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.logo {
    width: 60px;
}

.lead {
    margin-bottom: 40px;
}

.full-height
{
    height: 100%;
}

.almost-full-height
{
    height: 80%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1, .h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.h3, h3 {
    font-size: 14px;
}

a:focus
{
    outline: 0;
}

a:link, a:visited {
}

.thumbnail {
    border: none; 
}

#home .my-page-header
{
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
    min-height: 600px;
}

#default .my-page-header {
    background-color: #031c23;
}

.icon-color {
    color: #031c23;
}

#contact .my-page-header {
    background-color: #15b0bf;
}

#contact .icon-color {
    color: #15b0bf;
}

#solutions .my-page-header {
    background-color: #ea9710;
}

#solutions .icon-color {
    color: #ea9710;
}

.tmp {
    background: none repeat scroll 0 0 rgba(81, 94, 108, 0.7);
    
}

.my-page-header a, .my-page-header a:hover
{
    color: #fff;
}

.feature {
    display: table-cell;
    vertical-align: middle;
}

.intro-heading {
    padding-top: 100px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    margin: 1em 55px;
    text-align: center;
    text-transform: uppercase;
    transition: font-size 0.2s ease 0s;
}

@media(min-width:768px) {

    .intro-heading {
        font-size: 52px;
    }
    
}

@media(min-width:1024px) {

    .intro-heading {
        font-size: 62px;
    }

}

@media(min-width:1200px) {

    .intro-heading {
        font-size: 72px;
    }
    
    .h3, h3 {
        font-size: 18px;
    }

}

.capability
{
    padding-top: 40px;
}

.half-rule {
    margin: 40px auto;
    width: 100px;
}

section, aside {
    margin-top: 40px;
}

.btn
{
    text-transform: uppercase;
    border: 2px solid;   
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #FCFCFC;
    border-color: #000;
}

section .btn
{
    line-height: 50px;
    width: 300px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: 2px solid #2b2b2b;
}