<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Nous sommes Efficience Software: une société de Conseil et Services
					Informatiques basée en martinique. Nous sommes spécialisés dans le
					<strong>développement d'applications Web et Mobiles</strong>, l'intégration et la
					personnalisation de solutions CRM telles que <strong>Microsoft Dynamics
					CRM et Salesforce</strong>, ainsi qu'en <strong>informatique décisionnelle</strong>.
					Nous avons une expertise en Java, C++, C#, HTML5, CSS, PHP, Javascript, Wordpress,
					Ghost, Magento, base de données Oracle et MySQL.</p>
			</div>
		</div>
	</div>
</div>
