
    <div class="container hidden-xs hidden-sm">
        <div class="row" id="about">
            <div class="col-md-12">
                <p>Efficience Software est une société de Services et Conseils Informatiques spécialisée dans le <strong>développement Web/Mobile/Soft et dans l'interconnection de systèmes.</strong> Nous avons une expertise en Java, C++, C#, HTML5, CSS, PHP, Javascript, Wordpress, Ghost, Magento, base de données Oracle et MySQL.</p>
            </div>
        </div>
    </div>