
    <div class="container hidden-xs hidden-sm">
        <div class="row" id="about">
            <div class="col-md-12">
                <p>Efficience Software est une société de Services et Conseils Informatiques spécialisée dans le <strong>développement de logiciels d'entreprise, développement Web et applications mobiles.</strong> Nos services incluent également les tests, la maintenance et le support applicatif, l'intégration et la personnalisation d'applications d'entreprise, l'assistance à maîtrise d'ouvrage et le conseil informatique. Nous avons une expertise en Java, C++, C#, HTML5, CSS3, jQuery, PHP5, Javascript, Ruby on Rails, Wordpress, base de données Oracle et MySQL.</p>
            </div>
        </div>
    </div>