<footer>
	<div class="container text-center">
		<div>
		<ul class="nav nav-pills">
				<li>
						<a href="/services/web/">Web</a>
				</li>
				<li>
						<a href="/services/mobile/">Mobile</a>
				</li>
				<li>
						<a href="/services/crm/">CRM</a>
				</li>
				<li>
						<a href="/services/bi/">BI</a>
				</li>
				<li>
						<a href="/products/">Nos produits</a>
				</li>
				<li>
						<a href="/notes/">Blog</a>
				</li>
				<li>
						<a href="/legalnotice/">Mentions légales</a>
				</li>
				<li>
						<a href="/contact/">Contact</a>
				</li>
		</ul>
	</div>
		<div class="row">
			<div class="col-md-12">
				<p>{{ site.title }} &copy; 2016</p>
			</div>
		</div>
	<div class="row">
		<div class="col-md-12">
			<p>Centre d'Affaires de Californie 2, 97232 Le Lamentin, Martinique | {{ site.phone }} | {{ site.email}}</p>
		</div>
	</div>
</div>
</footer>
