<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="{{page.id}}" class="index" >

    {% include nav.html %}
		
		<div class="full-width">
        {% if page.id == 'hello' or page.id == 'home' %}
            	<div class="my-page-header full-height pattern">
        {% else %}
            	<div class="my-page-header almost-full-height">
        {% endif %}
					<div class="container">
						<p class="intro-heading">{{page.text-intro}}</p>
					</div>
				</div>
		</div>
				        
        <div class="container" id="intro-section">
            {{ content }}
        </div>
        
        {% if page.id != 'contact' %}
			<div class="call-to-action">
				{% if page.call-to-action != null %}
					<p>{{page.call-to-action}}</p>
				{% else %}
					<p>Vous rechercher un partenaire pour vous accompagner dans la réalisation de votre projet?</p>
				{% endif %}
				<a class="btn btn-default" href="/contact" role="button">Contactez-nous</a>
			</div>
        {% endif %}
                
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>