<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="{{page.id}}" class="index">
    {% include nav.html %}
		<div class="full-width">
        	<div class="my-page-header full-height">
				<div class="container">
					<h1>{{page.text-intro}}</h1>
				</div>
			</div>
		</div>
        <div class="container" id="services-list">
            {{ content }}
        </div>
		<div class="call-to-action">
			<a class="btn btn-default" href="mailto: {{ site.email }}" role="button">Vous souhaitez en savoir plus?</a>
		</div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>