<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
    <body id="notes" class="index" >
    {% include nav.html %}
		<div class="my-page-header">
		</div>
        <div class="container" id="content">
            {{ content }}
        </div>

		<section class="call-to-action">
			<div class="container">
				<a class="btn btn-default" target="_blank" href="http://eepurl.com/boFhBL" role="button">Inscrivez-vous à la newsletter</a>
			</div>
		</section>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
