<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="{{page.id}}" class="index" >
    {% include nav.html %}
		<div class="full-width">
        	<div class="my-page-header almost-full-height vertical-align">
				<h1>{{page.text-intro}}</h1>
			</div>
		</div>    
        <div class="container content" id="service-presentation">
            {{ content }}
        </div>
	{% include cta.html %}
	{% include about.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>